*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Reem";
    src: url(../fonts/ReemKufi-VariableFont_wght.ttf);
}

html{
    font-size: 62.5%;
}

body{
    height: 100vh;
    font-family: Reem;
    color: #ffffff;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* Header */
header{
    grid-area: header;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 25px #ff005c;
}

.header__ul{
    display: flex;
    padding-top: 5px;
    align-items: center;
    justify-content: space-evenly;
}

.header__txt{
    color: #ffffff;
    font-size: 2.5rem;
    text-shadow: 2px 2px 3px #000000;
}

.header__txt:hover{
    color: #ff005c;
    text-shadow: 0px 0px 15px #ff005c;
}

.header__txt:active{
    color: #ff005c;
}
/* Footer */

footer{
    grid-area: footer;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 25px #ff005c;
}

.footer__ul{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.footer__txt{
    font-size: 2.5rem;
    color: #ffffff;
    text-shadow: 2px 2px 3px #000000;
}

.footer__txt:hover{
    color: #ff005c;
    text-shadow: 0px 0px 15px #ff005c;
}
/* ~ Index ~ */

/* Body */
.index__body{
    background-image: url(../imgs/bg.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.index__div{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer"
    ;
    grid-template-rows: 50px 1fr 50px;
    grid-template-columns: 1fr 1fr 1fr;
}

/* Main */

.index__main{
    grid-area: main;
    display: flex;
    align-items: center;
    justify-content: center;
}

.index__txt{
    text-align: center;
    font-size: 6rem;
    text-shadow: 3px 3px 5px #000000;
}

/* Other Pages */

/* Buy */

.pages__body{
    background-color: #232323;
}

.pages__div{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer"
    ;
    grid-template-rows: 50px 1fr 50px;
    grid-template-columns: 1fr 1fr 1fr;
}

/* Main */

.buy__main{
    grid-area: main;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buy__container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.buy__card{
width: 17.5%;
border-radius: 5%;
padding-top: 10px;
}

.buy__img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 150px;
    border-radius: 15%;
    box-shadow: 2px 2px 3px #000000;
}


.buy__title{
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 1px 1px 5px #000000;
}

.buy__hyperlink{
    color: white;
}

.buy__content{
    text-align: center;
    font-size: 1.25rem;
    color: #ffffff;
    text-shadow: 1px 1px 2px #000000;
}

/* About Us */

.about__main{
    grid-area: main;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__h2{
    text-align: center;
    font-size: 4rem;
    text-shadow: 1px 1px 5px #000000;
}

.about__p{
    text-align: center;
    font-size: 2.5rem;
    color: #ffffff;
    text-shadow: 1px 1px 2px #000000;
}

/* Contact Us*/

.contact__main{
    grid-area: main;
    display: flex;
    align-items: center;
    justify-content: center;

}

.contact__form{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.contact__box{
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Reem;
    color: #ffffff;
    background-color: #4b4b4b;
    border-radius: 5px;
}

.contact__box::placeholder{
    color: #ffffff;
    opacity: 1;
}

.contact__title{
    text-align: center;
    font-size: 4.5rem;
    text-shadow: 1px 1px 5px #000000;
}

.contact__first__text{
    text-align: justify;
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px #000000;
}

.contact__text{
    text-align: justify;
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px #000000;
    padding-top: 15px;
    padding-bottom: 2.5px;
}

.contact__textbox{
    font-family: Reem;
    background-color: #4b4b4b;
    color: #ffffff;
    border-radius: 5px;
    height: 200px;
}

.contact__textbox::placeholder{
    color: #ffffff;
    opacity: 1;
}

.contact__button{
    width: 13.25rem;
    margin-top: 15px;
    margin-left: 65px;
    font-family: Reem;
    background-color: #4b4b4b;
    color: #ffffff;
    border-radius: 5px;
}

.contact__button:hover{
    background-color: #303030;
}

/* Sell */

.sell__main{
    grid-area: main;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sell__form{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.sell__box{
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Reem;
    color: #ffffff;
    background-color: #4b4b4b;
    border-radius: 5px;
}

.sell__box::placeholder{
    color: #ffffff;
    opacity: 1;
}

.sell__title{
    text-align: center;
    font-size: 4.5rem;
    text-shadow: 1px 1px 5px #000000;
}

.sell__first__text{
    text-align: justify;
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px #000000;
}

.sell__text{
    text-align: justify;
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px #000000;
    padding-top: 15px;
    padding-bottom: 2.5px;
}

.sell__textbox{
    font-family: Reem;
    background-color: #4b4b4b;
    color: #ffffff;
    border-radius: 5px;
    height: 200px;
}

.sell__textbox::placeholder{
    color: #ffffff;
    opacity: 1;
}

.sell__button{
    width: 13.25rem;
    margin-top: 15px;
    margin-left: 130px;
    font-family: Reem;
    background-color: #4b4b4b;
    color: #ffffff;
    border-radius: 5px;
}


.sell__button:hover{
    background-color: #303030;
}

.sell__file{
    font-family: Reem;
    background-color: #4b4b4b;
    color: #ffffff;
    border-radius: 5px;
}

/* Product */

.product__main{
    grid-area: main;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product__div{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding-top: 100px;
}

.product__container{
    display: flex;
}

.product__card{
    width: 350px;
    height: 350px;
}

.product__img{
    height: 300px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #000000;
}

.product__title{
    text-align: center;
    font-size: 2.5rem;
    color: #ffffff;
    text-shadow: 1px 1px 2px #000000;
}

.product__title__names{
    text-align: justify;
    font-size: 2.5rem;
    color: #ffffff;
    text-shadow: 1px 1px 2px #000000;
}

.product__content{
    text-align: justify;
    font-size: 1.75rem;
    color: #ffffff;
    text-shadow: 1px 1px 2px #000000;
    margin-top: 10px;
}

.product__button{
    width: 200px;
    height: fit-content;
    background-color: #4b4b4b;
    box-shadow: 2px 2px 2px #000000;
    border-radius: 5px;
    font-family: Reem;
    font-size: 1.5rem;
    color: #ffffff;
    margin-top: 10px;
}

.product__button:hover{
    background-color: #303030;
}

.product__button__send{
    width: 200px;
    height: fit-content;
    background-color: #4b4b4b;
    box-shadow: 2px 2px 2px #000000;
    border-radius: 5px;
    font-family: Reem;
    font-size: 1.5rem;
    color: #ffffff;
    margin-top: 10px;
    margin-left: 50px;
}

.product__button__send:hover{
    background-color: #303030;
}

.product__box{
    width: 300px;
    height: 100px;
    background-color: #4b4b4b;
    box-shadow: 2px 2px 2px #000000;
    border-radius: 5px;
    font-family: Reem;
    font-size: 1.5rem;
    color: #ffffff;
    margin-top: 10px;
}

.product__box::placeholder{
    color: #ffffff;
    opacity: 1;
}

.product__video{
    width: 293px;
    height: 200px;
    box-shadow: 2px 2px 3px #000000;
    border-radius: 5px;
    margin-top: 20px;
}

/* Media Querys*/

@media only screen and (max-width: 1024px){
    .header__ul{
        padding-top: 10px;
    }

    .header__txt{
        font-size: 2rem;
    }

    .footer__ul{
        padding-top: 10px;
    }

    .footer__txt{
        font-size: 2rem;
    }

    .index__txt{
        font-size: 5rem;
    }

    .buy__card{
        width: 17.5%;
    }

    .buy__img{
        height: 125px;
        width: 125px;
    }

    .about__h2{
        font-size: 3.75rem;
    }
    
    .about__p{
        font-size: 2.25rem;
    }

    .contact__title{
        font-size: 4rem;
    }

    .contact__textbox{
        height: 120px;
    }

    .contact__button{
        margin-left: 50px;
    }

    .sell__title{
        font-size: 4rem;
    }

    .sell__textbox{
        height: 120px;
    }

    .sell__button{
        margin-left: 110px;
    }

    .product__div{
        padding-top: 0px;
    }
    
    .product__container{
        padding-top: 25px;
    }

    .product__card{
        width: 300px;
        height: 300px;
    }
    
    .product__img{
        height: 263px;
        width: 263px;
    }
    
    .product__title{
        font-size: 1.75rem;
    }
    
    .product__title__names{
        font-size: 1.75rem;
    }
    
    .product__content{
        font-size: 1.5rem;
    }
    
    .product__button{
        width: 100px;
        height: fit-content;
        font-size: 1rem;
        margin-top: 10px;
    }

    .product__button__send{
        width: 100px;
        height: fit-content;
        font-size: 1rem;
        margin-left: 100px;
        margin-top: 5px;
    }
    
    .product__box{
        width: 200px;
        height: 100px;
        font-size: 1rem;
        margin-left: 50px;
    }

    .product__video{
        margin-top: 25px;
        width: 263px;
        height: 170px;
    }
}

@media only screen and (max-width: 768px){

    .header__ul{
        padding-top: 10px;
    }

    .header__txt{
        font-size: 2rem;
    }

    .footer__ul{
        padding-top: 10px;
    }

    .footer__txt{
        font-size: 2rem;
    }

    .index__txt{
        font-size: 4rem;
    }

    .buy__card{
        width: 25%;
    }

    .buy__img{
        height: 100px;
        width: 100px;
    }

    .buy__title{
        font-size: 1.25rem;
    }
    
    .buy__content{
        font-size: 1rem;
    }

    .about__h2{
        font-size: 3.5rem;
    }
    
    .about__p{
        font-size: 2rem;
    }
}

@media only screen and (max-width: 600px){
    .index__txt{
        font-size: 3rem;
    }

    .buy__card{
        width: 26%;
    }

    .product__card{
        width: 250px;
        height: 250px;
    }
    
    .product__img{
        height: 200px;
        width: 200px;
    }
    
    .product__button{
        width: 100px;
        height: fit-content;
        font-size: 1rem;
        margin-top: 10px;
    }

    .product__button__send{
        width: 100px;
        height: fit-content;
        font-size: 1rem;
        margin-left: 75px;
        margin-top: 5px;
    }
    
    .product__box{
        width: 200px;
        height: 100px;
        font-size: 1rem;
        margin-left: 25px;
    }

    .product__video{
        margin-top: 50px;
        width: 203px;
        height: 110px;
    }
}

@media only screen and (max-width: 480px){
    .header__ul{
        padding-top: 14px;
    }

    .header__txt{
        font-size: 1.25rem;
    }

    .footer__ul{
        padding-top: 15px;
    }

    .footer__txt{
        font-size: 1.4rem;
    }

    .index__txt{
        font-size: 2.25rem;
    }

    .buy__card{
        width: 35%;
    }

    .buy__img{
        height: 80px;
        width: 80px;
    }

    .buy__title{
        font-size: 1.25rem;
    }
    
    .buy__content{
        font-size: 1rem;
    }
    
    .product__card{
        width: 150px;
        height: 150px;
    }
    
    .product__img{
        height: 140px;
        width: 140px;
    }
    
    .product__title{
        font-size: 1.25rem;
    }
    
    .product__title__names{
        font-size: 1.25rem;
    }
    
    .product__content{
        font-size: .75rem;
        margin-top: 0px;
    }

    .product__button{
        width: 100px;
        height: fit-content;
        font-size: 1rem;
        margin-top: 10px;
    }

    .product__button__send{
        width: 100px;
        height: fit-content;
        font-size: 1rem;
        margin-left: 25px;
        margin-top: 5px;
    }
    
    .product__box{
        width: 150px;
        height: 100px;
        font-size: 1rem;
        margin-left: 0px;
    }

    .product__video{
        margin-top: 45px;
        width: 140px;
        height: 80px;
    }
}

@media only screen and (max-width: 320px){
    .header__ul{
        padding-top: 15px;
    }

    .header__txt{
        font-size: 1.15rem;
    }

    .footer__ul{
        padding-top: 15px;
    }

    .footer__txt{
        font-size: 1.15rem;
    }

    .index__txt{
        font-size: 2rem;
    }

    .buy__card{
        width: 35%;
    }

    .buy__img{
        height: 80px;
        width: 80px;
    }

    .buy__title{
        font-size: 1.25rem;
    }
    
    .buy__content{
        font-size: 1rem;
    }

    .sell__title{
        font-size: 3rem;
        margin-bottom: 5px;
    }

    .sell__text{
        font-size: 1.25rem;
    }

    .sell__button{
        margin-left: 80px;
    }


}

