/*Footer*/

.footer{
    background-color: map-get($colors , secondary);
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: auto;

    &__ul{
        @include flex-center;
        padding-bottom: 1rem;
    }
    
    &__a{
        padding-left: 2rem;
        color: map-get($colors , primary);
        font-size: map-get($font-sizes , txtm);
        font-weight: $med;
    }
    
    &__mail{
        @include flex-center;
        @extend .footer__a;
        opacity: 0.5;
    }

    &__icons{
        @include flex-center;
        padding-bottom: 1rem;

        &__a{
            margin-left: 3rem;
        }

        &__imgs{
            width: 20px;
            height: 20px;
        }
    }
}

@media only screen and (max-width: 320px){
    .footer__a{
        font-size: map-get($font-sizes , txts);
    }
}