/* About */

.about{
    @extend .container;

    &__container{
        @extend .card;
        width: 400px;
        height: 250px;
    }

    &__container:hover{
        transform: translateY(0);
        box-shadow: $shadowcard;
    }

    &__title{
        @extend .card__title;
        margin-top: 50px;
    }

    &__text{
        padding-top: 10px;
        color: map-get($colors , primary);
        font-size: map-get($font-sizes , txtm);
        font-weight: $med;
        margin-top: 30px;
    }
}

@media (max-height: 850px){
    .about{
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 480px){
    .about{
        width: 300px;
        
        &__container{
            width: 300px;
        }
        
        &__title{
            margin-top: 60px;
        }
        
        &__text{
            font-size: map-get($font-sizes , txtxs);
            font-weight: $med;
            margin-top: 25px;
        }
    }
}