/* Form */

.body__form{
    margin: auto;
}

.form{
    @include flex-center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    
    &__container{
        width: 400px;
        border-radius: 8px;
        background-color: map-get($colors , secondary);
        box-shadow: $shadowcard;
        text-align: center;
        transition: all 0.25s;
    }
    
    &__form{
        padding: 4.5rem 3rem;
        text-align: center;
    }
    
    &__title{
        color: map-get($colors , primary);
        font-size: map-get($font-sizes , txtxl);
        font-weight: $bold;
        margin-bottom: 25px;
    }
    
    &__description{
        color: map-get($colors , primary);
        font-size: map-get($font-sizes , txtxs);
        font-weight: $med;
    }
    
    &__link{
        color: map-get($colors , blues);
        font-size: map-get($font-sizes , txtxs);
        font-weight: $med;
    }
    
    &__link:hover{
        color: map-get($colors , bluem);
    }
    
    
    &__div{
        margin-top: 3em;
        display: grid;
        gap: 5rem;
    }
    
    &__group{
        position: relative;
        color: map-get($colors , extra);
    }
    
    &__input{
        width: 100%;
        background: none;
        font-family: 'Ubuntu', sans-serif;
        color: map-get($colors , primary);
        font-size: map-get($font-sizes , txts);
        font-weight: $med;
        padding: .6rem .3rem;
        border: none;
        outline: none;
        border-bottom: 1px solid map-get($colors , extra);
        resize: none;
        
        &__name{
            color: map-get($colors , extra);
            font-size: map-get($font-sizes , txts);
            font-weight: $med;
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 5px;
            transform: translateY(5px);
            transition: transform .5s, color .3s;
        }
    }
    
    &__input:focus + &__input__name,
    &__input:not(:placeholder-shown) + &__input__name{
        transform: translateY(-15px);
        transform-origin: left top;
        color: #000000;
        font-weight: $bold;
    }
    
    &__button{
        background: map-get($colors , blues);
        font-family: 'Ubuntu', sans-serif;
        color: map-get($colors , secondary);
        font-size: map-get($font-sizes , txts);
        font-weight: $med;
        padding: .5rem 2rem;
        border: none;
        border-radius: .5rem;
        margin-top: 50px;
        transition: background .5s;
    }
    
    &__button:hover{
        background: map-get($colors , bluem);
    }
    
    &__line{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: map-get($colors , bluem);
        transform: scale(0);
        transform: left bottom;
        transition: transform .4s;
    }
    
    &__input:focus ~ &__line,
    &__input:not(:placeholder-shown) ~ &__line{
        transform: scale(1);
    }
}

@media (max-height: 850px){
    .form{
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 1024px){
    .form{
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 480px){
    .form{
        width: 300px;
        
        &__container{
            width: 300px;
        }
    }
}