/* Product */

.main__product{
    margin: auto;
}

.background{
    @include flex-center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    margin: auto;
    border-radius: 8px;
    background-color: map-get($colors , secondary);
    box-shadow: $shadowcard;
    margin-top: 50px;
    margin-bottom: 50px;
}

.product{
    @include flex-center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    
    &__card{
        width: 330px;
        height: 250px;
        margin: 20px;
        text-align: center;
        transition: all 0.25s;
        
        &__text{
            width: 330px;
            height: 250px;
            margin: 20px;
            text-align: center;
            transition: all 0.25s;
        }
        
        &__title{
            @extend .card__title;
        }
        
        &__description{
            @extend .card__description;
            padding-bottom: 10px;
        }
        
        &__price{
            @extend .card__title;
            padding-top: 0px;
            padding-bottom: 15px;
        }
        
        &__link{
            @extend .card__link;
            width: 100px;
            &__text{
                @extend .card__link__text;
            }
        }
        
        &__link:hover{
            background: map-get($colors , bluem);
        }
        
        &__textbox{
            margin-top: 10px;
            width: 100%;
            font-family: 'Ubuntu', sans-serif;
            color: map-get($colors , primary);
            font-size: map-get($font-sizes , txts);
            font-weight: $med;
            padding: .6rem .3rem;
            resize: none;
            
            &__name{
                color: map-get($colors , primary);
                font-size: map-get($font-sizes , txtm);
                font-weight: $bold;
            }
        }
        
        &__button{
            @extend .form__button;
            margin-top: 10px;
        }
    }
    
    &__video{
        @include flex-center;
        width: 330px;
        height: 250px;
        margin: 20px;
        text-align: center;
        transition: all 0.25s;
        
        &__source{
            height: auto;
            width: 100%;
        }
    }
}

/* Slideshow with Controlls */

.buy__slideshow{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.buy__slides{
    width: 500%;
    height: 100%;
    display: flex;
    
    &__selector{
        position: absolute;
        visibility: hidden;
    }
    
    &__content{
        width: 330px;
        transition: 0.6s;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__img{
        width: 330px;
    }
    
    &__navigation{
        display: flex;
        margin-left: 75px;
        position: absolute;
        margin-top: 225px;
    }
    
    &__bar{
        width: 50px;
        height: 10px;
        background-color: map-get($colors , blues);
        border-radius: 2px;
        box-shadow: $shadowslide;
        margin: 6px;
        cursor: pointer;
        transition: 0.4s;
    }
    
    &__bar:hover{
        background-color: map-get($colors , bluem);
    }
}

#img1:checked ~ .img{
    margin-left: 0;
}

#img2:checked ~ .img{
    margin-left: -20%;
}

#img3:checked ~ .img{
    margin-left: -40%;
}

/* Media Queries */

@media only screen and (max-width: 992px){
    .background{
        width: 98%;
    }
    .product__card{
        margin-bottom: 40px;
        
        &__text{
            margin-bottom: 40px;
        }
    }
}

@media only screen and (max-width: 768px){
    .product__card{
        margin-bottom: 40px;
        &__text{
            margin-bottom: 40px;
        }
    }
}

@media only screen and (max-width: 480px){
    .background{
        width: 90%;
    }
    .product__card__text{
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 320px){
    .background{
        width: 280px;
    }
    
    .product{
        &__card{
            margin-bottom: 0;
            
            &__text{
                margin-bottom: 0;
                margin-top: 35px;
            }
            
            &__description{
                font-size: map-get($font-sizes , txtxs);
            }
            
            &__textbox{
                height: 165px;
                margin-top: 0;
            }
        }
        
        &__video{
            height: 170px;
            width: 250px;
            display: flex;
            justify-content: center;
            align-items: center;
            &__source{
                height: 170px;
                width: 250px;
            }
        }
    }
    
    .buy__slides__navigation{
        margin-left: 30px;
    }
    .buy__slides__content{
        width: 250px;
    }
    .buy__slides__img{
        width: 250px;
    }
    .buy__slideshow{
        width: 250px;
    }
}