@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

*::after, *::before, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: map-get($colors , background);
    font-family: 'Ubuntu', sans-serif;
    font-weight: $med;
    animation: transitionOnLoad 0.75s;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

@keyframes transitionOnLoad{
    from{
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to{
        opacity: 1;
        transform: rotateX(0);
    }
}